/*kit colors
#428bca // 42ca81 //ca428b
#00adef // 00ef42 // ef00ad
#5f6f81
*/

*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'ecoicons';
		src: url("../fonts/ecoicons/ecoicons.eot");
		src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
		color: white;
}

/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
		color: white;
}


.menu-top-fill{
	height: 240px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #428bca;
		text-decoration: none;
		cursor: pointer;
}

.gn-menu-main > .left-menu a:hover,
.gn-menu > .left-menu li.gn-search-item:hover,
.gn-menu > .left-menu li.gn-search-item:hover a {
		background: #428bca;
		color: white;
}


.kit-logo {
	color: #428bca;
	font-size: 14px;
}



.gn-menu-main > li {
		/*display: block;*/
		float: left;
		height: 100%;
		text-align: center;
		/*background-color: white;*/
}


/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;

		/*border-left: 1px solid #c6d0da;*/
		/*background: #428bca;*/
		padding: 10px 10px;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		background: rgba(0,0,0,0);
		color: #428bca;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 0px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		height:100%;
		border-right: 1px solid #c6d0da;
		background: white;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {

		position: absolute;
		/*overflow-y: scroll;*/
		width: 320px;
		height:100%;
}

.gn-menu {
		/*border-bottom: 1px solid #c6d0da;*/
		text-align: left;
		font-size: 18px;
		height:100%;
		padding-top: 100px;
		display: block;
		position: relative;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1;
		height:100%;
}

input.gn-search {
		z-index: 10;
		padding-left: 0px;
		outline: none;
		border: none;
		background: transparent;
		color: #428bca;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #428bca
}

.gn-search:-moz-placeholder {
		color: #428bca
}

.gn-search::-moz-placeholder {
		color: #428bca
}

.gn-search:-ms-input-placeholder {
		color: #428bca
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: #428bca;
}

input.gn-search:focus {
		cursor: text
}

.gn-menu li.gn-search-item:hover input.gn-search {
		color: white;
}

/* placeholder */

.gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white;
}

.gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white;
}

.gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white;
}

.gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white;
}

/*.gn-menu-main a.gn-icon-search {
		position: fixed;
		top: 0;
		left: 0;
		height: 60px;
}*/

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}


.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		height:100%;
}

.gn-menu-wrapper.gn-open-all {
	width: 220px;
	height:100%;
}


/*adjust the following to accordion*/
/*.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}*/

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}






.menu-div {
	padding: 0 9% 0 9%;
}

#integration-list {
    font-family: 'Open Sans', sans-serif;
}

#integration-list ul {
    padding: 0;
    width: 100%;
    color: #555;
}
#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 0 15px;
    overflow: hidden;
    /*background-color: white;*/
}
#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}
#integration-list ul > li:hover {
    background: #efefef;
}

.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}
span {
  font-size: 12.5px;
}

#left,#right{
    display: block;

}

#sup{
    display: block;
    vertical-align: middle;
    /*width: 90%;*/
}
.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 13px;
  	/*margin-right: 7px;*/
}
.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 100px;
}

.detail span{
    margin: 0;
}

.right-arrow {
		display: inline-block;
    text-align: right;
    width: 10px;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.menu-cell{
	display:inline-block;
}

.icon {
    height: 75px;
    width: 75px;
    float: left;
    margin: 0 15px 0 0;
}



